/*/// RESET ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*/// DEBUG ///*/
/* header */
.debug .header-top{
    height: 40px;
    background-color: aqua;
}
.debug .nav{
    background-color: orange;
    width: 50%;
}
.debug .header-bottom{
    background-color: blue;
}
.debug .header-box{
    background-color: violet;
    width: 400px;
    height: 150px;
}
/* main */
.debug .col-big{
    width: 40%;
    height: 200px;
    background-color: aqua;
}
.debug .col-small{
    width: 20%;
    height: 200px;
    background-color: pink;
}
.debug .col-main{
    width: 60%;
    height: 300px;
    background-color: green;
}
/* footer */
.debug .fo-col-big{
    background-color: lightcoral;
    width: 20%;
    height: 250px;
}
.debug .fo-col-small{
    background-color: aquamarine;
    width: 10%;
    height: 250px;
}

/*/// HEADER ///*/
.header-top{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*/// MAIN ///*/
main > section:nth-child(2n){
    background-color: lightgray;
}
section{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.col-big{
    
}
.col-small{
   
}

/*/// FOOTER ///*/
footer{
    background-color: gray;
}
.foo-top{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.fo-col-big{
    border: dashed 1px black;
}