/*/// RESET ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*/// DEBUG ///*/
.debug .header-top{
    height: 40px;
    background-color: aqua;
}
.debug .nav{
    background-color: orange;
    width: 50%;
}
.debug .header-bottom{
    background-color: blue;
}
.debug .header-box{
    background-color: violet;
    width: 400px;
    height: 200px;
}
.debug .col-big{
    width: 40%;
    height: 250px;
}
.debug .col-small{
    width: 20%;
    height: 250px;
}


/*/// HEADER ///*/
.header-top{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*/// MAIN ///*/
main > section:nth-child(2n){
    background-color: gray;
}
section{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.col-big{
    background-color: aqua;
}
.col-small{
    background-color: pink;
}